
.contact-body{
	background-color: #434242;
}
.container{
	width: 1170px;
  margin-right: auto;
	margin-left: auto;

}
#contact {
	display: block;
  line-height: 32px;
  margin-bottom: 20px;
  opacity: 0.6;
}
.contact-heading1{
	 color: white;
	text-align: center;
}
.contact-heading1{
	font-size: 54px;
	font-weight: 200;
	font-family: 'Open Sans';
	margin-top: 20px;

}
.page-quote{
	margin-bottom: 20px;
	text-align: center;
	display: block;
	color: #a9a9a9;
	font-size: 20px;
}
.contact-hr{
	color: #a9a9a9;
}
.fa {
	color:  #a9a9a9;
	width: 25px;
	height: 25px;
	font-size: 10px;
}
a{
	color:  #a9a9a9;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif !important;
}
button, .button{
	width: 10px;
	height:15px;
	
	font-size: 22px;
	border-radius: 4px;
	background-color: #a9a9a9;
}
.button .fa{
	color: #434242;
	padding-left: 5px;
	cursor: pointer;
}
.skype-icon,.gmail-icon{
	color:  #a9a9a9;
	font-size: 20px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif !important;
}
.col-md-6{
	display:inline-block;
	position: relative;
  min-height: 1px;
  padding-right: 100px;
  padding-left: 100px;
}
.row{
	display: block;
	padding: 20px;
}
.no-bullets{
	padding: center;
}
ul.no-bullets{
 list-style-type: none;
 margin: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 padding: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 	padding-left: 0px;
}
li{
	padding-bottom: 30px;
}
a:hover{
	color: #ffffff;
	
}
.link:hover a{
	color: #ffffff;
}
.link:hover .button{
	background: white;
}
.link:hover .button .fa{
	color: black;

}
.link:hover a .fa{
	color: white;
}
.text-center{
	text-align: center;
}
#like-button,#tweet-button{
	/*border-left-width: 5px;*/
	width: 50px;
	height: 24px;
	cursor: pointer;
	background-color: #808080;

}
.fb-like,.twitter-tweet{
	width: 40px;
	height: 20px;
}

/*.fb-like.twitter-tweet:hover{
	color: red;
}*/
/*div{
	display: block;
}*/