body{
	width: 700px;
	padding: 20px;
	border: 1px solid #dddddd;
	margin: 30px auto 0 auto ;
}
/*ability page*/

h1{
	font-size: 40px;
	text-align: center;
	color: #48D1CC;
	font-family: 'Open Sans', sans-serif !important;
}
p{
	color: #A9A9A9;
   text-align: center;
}
h2 {
	color: #22A39F;
	font-family: "Times New Roman", Georgia, Serif;
}
.abilitie-list{
	color: #A9A9A9;
	width: 550px;
	display: inline-block;
}
/* experience */
.button{
	
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    
}
.skillsEnd{
	text-align: center;
}
h3,h4{
	color: #48D1CC;
	font-size: 30px;
}
.ability-title{
	color: #A9A9A9;
	width: 550px;
	display: inline-block;
}
.fa {
 color: #48D1CC;
}

