body{
    /*background: #F3EFE0;*/
    font-size: 15px;
    line-height: 1.64;
}
html body{
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}
body{
    margin: 0px;
}
body{
    display: block;
}
.design-image{
    height: 100vh;
    width: 100%;
    background: no-repeat center right fixed url(../img/design_image.jpg);
    background-size: cover;
}
.redirection-fb a{
    width: 50px;
    height: 56px;
    text-indent: -9999px;
    display: block;
    background: url(../img/find-me.gif) no-repeat; 
    width:359px; 
    height: 130px;
    left: 1%;
    float: left;
    position: relative;
    display: block;
    z-index: 3;

}
section{
    display: block;
}
article{
    display: block;
}
figure{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}



.scroll-up{
    height: 88px;
    width: 109px;
    display: block;
    position: absolute;
    bottom: 165px;
    right: 4%;
    background-color: #ffffff;
    text-align: center;
    z-index: 111;
}
.scroll-up:hover .glyphicon {
    padding-top: 25px;
}
.scroll-up .glyphicon {
    color: #FFFFFF;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
}
.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}


.fixed.navbar {
    position: fixed;
    top: 30px;
}
.navbar {
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
    z-index: 999;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar {
    border-radius: 4px;
}
.navbar {
   /* position: relative;*/
    min-height: 50px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}
nav{
    display: block;
}
button {
    
    text-align: center;
}
 button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.navbar-header{
    display: table;
    content: "";
}
.navbar-header {
    float: left;
}
.nav {
    text-align: center;
}
.navbar .nav > li {
    display: block;
    height: 75px;
    text-align: center;
    padding-top: 15px;
    font-weight: 600;
    color: #FFFFFF;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition: height 0.6s;
    transition: height 0.6s;
}
.nav>li {
    position: relative;
    display: block;
}
.nav li{
    padding-bottom: 14px;
    list-style: none;
}
.nav{
    padding-left: 1px;
}
#navbar-example{
    background-color: black;
}
.collapse .nav a{
    text-decoration: none;
    color: white;
}
.navbar-nav li:hover, .navbar-nav li:hover {
    background: #22A39F;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}
ul {
    list-style-type: disc;
    margin-left: 0rem; 

}
.nav {
    padding-left: 1px;
}








.find-me{
    color: #4DAEAB;
    text-decoration: none;
}
.design-image .design-heading{
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center;
}
.design-image,.design-heading{
    max-width: 100%;
}
.design-heading{
    padding: 40px 180px;
    margin-right: auto;
    margin-left: auto;
}
.design-image .hole-page{
    background-color: #22A39F;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    z-index: 2;
}
.design-image .design-heading .design-heading1{
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}
.design-image .design-heading{
    text-align: center;
    color: #FFFFFF;
}
.design-heading1{
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
}
.second-word{
    margin: 0 0 10px;
    margin-top: 0px;
    margin-right: 0px;
    line-height: 1.4;
    font-size: 30px;
}




/*Resume-page*/

#resume-body{
    width: 700px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto ;
}

.resume-header1{
    color: #48D1CC ;
    text-align: center;
}
.person-name{
    color: #A9A9A9;
}
.silly p{

    color: #A9A9A9;
    text-align: center;
}
.first-hr{
    color: #C0C0C0;   
}
.content-section {
    text-align: left;
    color: #A9A9A9;
    padding: 15px;
}

.resume-header2{
    color: #48D1CC ;
}

.resume-header3{
    color: #48D1CC ;
}
.person-image{
    text-align: center;
}
.abilitie-list{
    width: 200px;
}
.resume-image{
    width: 90px;
    height: 35px;
    cursor: pointer;
}
.button-image{
    width: 80px;
    height: 30px;
    padding-right: 6px;
}

/*experience*/

#experience-body{
    background: #F3EFE0;
    width: 700px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto ;
}

.experience-header1{
    color: #48D1CC;
    font-family: 'Open Sans', sans-serif !important;
}
.john{
    text-align: center;
}
.experience-header2{
    color: #48D1CC;
}
.phani{
    text-align: center
}


/*Abilities*/

#Abilities-body{
    width: 700px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto ;
    margin-bottom: 50px;
}


.Abilities-header1{
    font-size: 40px;
    text-align: center;
    color: #48D1CC;
    font-family: 'Open Sans', sans-serif !important;
}
.anush{
    color: #A9A9A9;
   text-align: center;
}
.ability-skills {
    color: #22A39F;
    font-family: "Times New Roman", Georgia, Serif;
}
.abilitie-list{
    color: #A9A9A9;
    width: 550px;
    display: inline-block;
}
.button{
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    
}
.skillsEnd{
    text-align: center;
}
.ability-header3,.ability-header4{
    color: #48D1CC;
    font-size: 30px;
}
.ability-title{
    color: #A9A9A9;
    width: 550px;
    display: inline-block;
}
.fa {
 color: #48D1CC;
}


/*Projects*/


.project-body{
    width: 900px;
    padding: 20px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto ;
    background-color: #F3EFE0;
    margin-bottom: 30px;
}
.project-header2{
    color: #48D1CC ;
    text-align: center;
    font-family: 'Open Sans', sans-serif ;
}
.project-hr{
    /*border-top-style: solid;*/
    border-top-width: 1px;
    border-top: 1px solid ;
    border-bottom: 1px solid;
    display: block;
    border-color: #727878;
    height: 0px
    
}

.project-gallery{
    text-align: center;
}
.Quote p{
    text-align: center;
    display: inline-block;
}



.project-image{
    width: 45%;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}
.project-image img{
    padding: 10px;
    width: 100%;
    height: 300px;
}


/*Contact*/

#contact-body{
    position: relative;
    background-color: #434242;
    /*width: 1400px;*/
    height: 700px;
    line-height: 1.64;
}
.container{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    /*text-align: center;
*/
}

#contact {
    display: block;
  line-height: 42px;
  margin-bottom: 20px;
  
  height: -20px;
}
.contact-heading1{
     color: white;
    text-align: center;
}
.contact-heading1{
    font-size: 54px;
    font-weight: 200;
    font-family: 'Open Sans';
    margin-top: 20px;

}
.page-quote{
    margin-bottom: 20px;
    text-align: center;
    display: block;
    color: #a9a9a9;
    font-size: 20px;
}
.contact-hr{
    color: #a9a9a9;
}
.contact-body .fa {
    color:  #a9a9a9;
    width: 25px;
    height: 25px;
    /*font-size: 10px;*/
}
.show-other-page {
    color:  #a9a9a9;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif !important;
}
.social-btn{
    width: 10px;
    height:15px;
    
    font-size: 22px;
    border-radius: 4px;
    background-color: #a9a9a9;
}
.social-btn .fa{
    color: #434242;
    padding-left: 5px;
    cursor: pointer;
}
.skype-icon,.gmail-icon{
    color:  #a9a9a9;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif !important;
}
.col-md-6{
    display:inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 100px;
    padding-left: 100px;
}
.row{
    display: block;
    padding: 20px;
}
.no-bullets{
    padding: center;
}
ul.no-bullets{
 list-style-type: none;
 margin: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 padding: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
    padding-left: 0px;
}
li{
    padding-bottom: 20px;
    list-style: none;       
}
.navbar .nav > li:hover{
    height: 45px;
}
a:hover{
    color: #ffffff;
    
}
.link:hover a{
    color: #ffffff;
}
.link:hover .button{
    background: white;
}
.link:hover .button .fa{
    color: black;

}
.link:hover a .fa{
    color: white;
}
.text-center{
    text-align: center;
}
#like-button,#tweet-button{
    /*border-left-width: 5px;*/
    width: 50px;
    height: 24px;
    cursor: pointer;
    background-color: #808080;

}
.fb-like,.twitter-tweet{
    width: 40px;
    height: 20px;
}
 .gmail-icon{
text-decoration: none;
}
.skype-icon{
    text-decoration: none;
}
#navigating-top a span i{
    color: black;
}

.col-md-6 .no-bullets i{
    color: #D8DCDC;
}
/*.no-bullets .link i{
    color: black;
}*/
